.container{
  display: flex;
  justify-content: center;
}

.cc_circle {
  text-align: center;
  font-size: 300%;
  color: rgb(204, 230, 211) ;
  background-color: black;
  height: 200px;
  width: 200px;
  padding: 10px;
  border-width: 10px;
  border-radius: 200px;
  font-family: monospace;
}

#cc_image{
  height: 200px;
  width: 200px;
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(204, 230, 211);;
  overflow: hidden;
  padding-left: 35%;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: monospace;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}


h1 {
  font-size: 50px;
  color: rgb(204, 230, 211);
  font-family:monospace;
  background-color: black;
  width: 40%;
}

body {
background-color: rgb(204, 230, 211);
}
