/* start of main */
body {
    font-family: 'Raleway', sans-serif;
    background-color: #fef9c7 !important;
}

.introduction_container {
    display: flex;
    align-items: center;
}

.quote {
    font-family: 'Livvic', sans-serif;
    color: #026770;
    font-size: 5vw;
    text-align: right;
    padding: 40px;
    margin-right: 40px;
    margin-top: 4.5%;
    margin-bottom: 4.5%;
}


.introduction_description_container {
    border-left: 5px solid black;
    font-family: 'Raleway', sans-serif;
}

.introduction_description {
    font-size: 1.2vw;
    padding-left: 30px;
}

.profile_container {
    margin: 40px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 100px;
}

.profile_picture_top {
    width: 100%;
    height: 650px;
    object-fit: cover;
}

.profile_picture_bottom {
    width: 100%;
    height: 650px;
    object-fit: cover;
    margin-left: -10px;
}

.profile_details_container_top {
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 .profile_name_top {
     background-color: #AFE1AB;
     padding: 10px;
     padding-left: 20px;
     padding-right: 50px;
     font-size: 400%;
     margin-top: 20px;
     margin-left: -90px;
     margin-bottom: 0px;
     width: fit-content;
     height: fit-content;
     font-family: 'Exo';
 }

 .profile_title_top {
     padding: 10px;
     margin-left: -70px;
     margin-top: 0px;
     font-size: 100%;
     width: fit-content;
     height: fit-content;
 }

 .profile_name {
    background-color: #48cfae;
    font-family: 'Livvic', sans-serif;
 }

 .profile_title {
    background-color: #026770;
    color: #F0F0F0;
 }

.profile_description {
    font-family: 'Raleway', sans-serif;
    margin: 30px;
    padding-bottom: 10px;
    border-right: 2px solid;
    border-bottom: 2px solid;
}

.profile_details_container_bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.profile_bottom_container {
    margin-bottom: 15%;
}

.profile_name_bottom {
    padding: 10px;
    padding-left: 20px;
    padding-right: 50px;
    font-size: 400%;
    margin-top: 20px;
    margin-right: -90px;
    margin-bottom: 0px;
    width: fit-content;
    height: fit-content;
    display: relative;
    z-index: 1;
}

.profile_title_bottom {
    padding: 10px;
    margin-right: -70px;
    margin-top: 0px;
    font-size: 100%;
    width: fit-content;
    height: fit-content;
    display: relative;
    z-index: 1;
}

.socials img {
    width: 40px;
    height: 40px;
    margin: 10px;
    align-self: end;
}

.socials a:hover {
    text-decoration: none;
}
