/* footer section */
.footer_left{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  flex-direction:column;
  transition: 0.3s;
}

#cc_logo_footer{
  width: auto;
  height: 150px;
}

#stay_para{
  color: white;
  display: inline;
  padding-left: 30px;
}

#connect_para{
  color: white;
  display: inline;
}

.form-control{
  width: 60% !important;
}

.social{
  display: block !important;
  padding-left: 63% !important;
}

.insta{
  width: 50px !important;
  height: 50px !important;
  margin-right: 2% !important;
}

.twitter{
  width: 50px !important;
  height: 50px !important;
}

.email{
  width: 65px !important;
  height: 65px !important;
  margin-left: -3% !important;
  margin-right: -3% !important;
}

.github{
  width: 65px !important;
  height: 65px !important;
}
