/* footer section */
.footer_left{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  flex-direction:column;
  transition: 0.3s;
}

#cc_logo_footer{
  width: auto;
  height: 150px;
}

#stay_para{
  color: white;
  display: inline;
  padding-left: 30px;
}

#connect_para{
  color: white;
  display: inline;
}

.form-control{
  width: 60% !important;
}

.social{
  display: block !important;
  padding-left: 60% !important;
  padding-right: 0px;
}

.insta{
  width: 50px !important;
  height: 50px !important;
  margin-right: 2% !important;
}

.twitter{
  width: 50px !important;
  height: 50px !important;
}

.email{
  width: 65px !important;
  height: 65px !important;
  margin-left: -3% !important;
  margin-right: -3% !important;
}

.github{
  width: 65px !important;
  height: 65px !important;
}

.policy{
  display: flex;
  text-align: left;
  margin-top: 40px;
}

.policy-cats{
  color: white !important;
  margin-right: 12px;
  font-size: 0.75em;
}

span {
  cursor: pointer;
}

@media only screen and (max-width: 960px) {

  #cc_logo_footer{
    width: auto;
    height: 80px;
    padding-right: 15%;
  }

  .form-control{
    width: 80% !important;
  }

  .social{
    display: block !important;
    padding-left: 8% !important;
  }

  #stay_para{
    font-size: 15px;
    display: block;
  }

  #connect_para{
    font-size: 18px;
    display: block;
  }

  .policy{
    display: flex;
    flex-direction: column;
  }

  .policy-cats{
    font-size: 11px;
  }

  #input_box{
    padding-right: 0;
  }


}
