body {
    background-color: #fef9c7 !important;
    font-family: 'Raleway', sans-serif !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    opacity: 0;
}

#header h1 {
    display: inline;
}

#header a:hover {
    text-decoration: none;
}

#index_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#saying_container {
    opacity: 0;
}

#saying {
    margin-top: 10px;
    font-family: 'Livvic', sans-serif;
    font-size: 4.5vw;
}

.teal {
    color: #48cfae;
}

.blue {
    color: #002b64;
}

#index_body {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#first_post_container {
    width: 70%;
    opacity: 0;
}

#first_post_container a {
    text-decoration: none;
    color: black;
}

#first_post_thumbnail {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}

#first_post_title {
    font-size: 2.9vw;
    margin-top: 0px;
    margin-bottom: 20px;
}

#first_post_tag {
    font-size: 1.2vw;
}

#first_author_name {
    color: #026770;
}

#first_post_poster {
    width: 95%;
    margin-top: 30px;
}

#first_post_poster:hover {
    width: 100%;
}

.post_title {
    font-size: 1.5vw;
    transition: color 0.2s;
    font-weight: 900;
}

.post_title:hover {
    color: #48cfae;
}

.post_divider {
    border-top: 2px solid black;
    width: 100%;
}

#first_post_details_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2vw;
}

#sidebar_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 26%;
    opacity: 0;
    margin-left: 50px;
}

#contact_us_quote {
    font-size: 1.4vw;
    margin-bottom: 0px;
}

.dill {
    color: #48cfae;
}

.contact_us_image {
    width: 80%;
    height: auto;
    margin: 30px;
    transition: width 0.5s;
}

.contact_us_image:hover {
    width: 85%;
}

.contact_us_image_link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email_box {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 10px;
    width: fit-content;
}

.email {
    cursor: pointer;
}

.email_box_header {
    margin: 0px;
    font-size: 1.2vw;
}

.input_email_row {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#input_box {
    width: 100%;
    margin-right: 10px;
}


.contact_us_details_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 20px;
}

.social_media_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#submit_email_button {
    font-size: 0.7vw;
    border-radius: 15px;
    border: 1px solid black;
    background-color: #026770;
    color: white;
    padding: 8px;
    margin-left: 5px;
    text-align: center;
    align-self: center;
    height: 100%;
}

.social_media_container img {
    height: 35px;
    width: auto;
    margin-right: 5px;
    margin-left: 5px;
}

.social_media_container a {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#popular_posts_container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.popular_posts_header {
    font-size: 1.7vw;
    text-decoration: underline;
    margin-bottom: 10px;
}

.popular_posts_list {
    list-style: none;
    counter-reset: inst;
    padding-left: 0px;
}

.popular_posts_list a:hover{
    text-decoration: none;
}

.popular_posts_list a li div{
    text-decoration: none;
    transition: color 0.3s;
}

.popular_posts_list a li div:hover {
    color: #48cfae;
}

.popular_posts_list li {
    font-size: 1vw;
    margin-top: 0px;
    color: black;
    margin-bottom: 20px;
    counter-increment: inst;
}

.popular_posts_list li::before {
    content: "#" counter(inst);
    font-family: 'Abril Fatface', cursive !important;
    font-size: 300%;
    margin-right: 20px;
}


#main_body {
    width: 65%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    opacity: 0;
}

.post_thumbnail {
    display: flex;
    flex-direction: column;
    width: 42%;
    margin: 2%;
}

.post_lower {
    margin-top: 60px;
}

.post_thumbnail > * {
    margin-top: 0;
}

.post_tag {
    margin-bottom: 0px;
    font-size: 1.3vw;
}

.post_poster_link {
    width: fit-content;
    display: flex;
    justify-content: center;
}

.post_poster {
    width: 95%;
    height: auto;
    transition: width 0.5s;
}

.post_link {
    text-decoration: none;
    color: black;
}

.post_link:hover {
    text-decoration: none;
}

.post_poster:hover {
    width: 100%;
}

.post_details_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post_by {
    font-size: 1.3vw;
}

.post_author {
    color: #026770;
}

.post_date {
    font-size: 1.3vw;
}

#main_series_container {
    display: none;
    width: 65%;
    margin-top: 8%;
    opacity: 0;
}

.series_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #48cfae;
    box-shadow: 5px 5px 8px #888888;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 5%;
    margin: 4%;
}

.series_header {
    font-size: 2.6vw;
    background-color: #404040;
    color: #F0F0F0;
    margin-left: -20%;
    padding: 4%;
    width: fit-content;
}

.series_details_container {
    display: flex;
    flex-direction: column;
    width: 46%;
}

.series_description {
    margin-top: 0px;
    font-size: 1.2vw;
}

.series_poster_link {
    width: 100%;
    height: auto;
}

.featured_post_poster_link {
    width: 95%;
    margin-top: 10%;
}

.other_post_thumbnail_container {
    width: 46%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-end;
}

.post_poster_link_container {
    width: 45%;
    height: 32%;
}

.other_post_thumbnail_container > * {
    margin: 2%;
}

.series_first_row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#first_series_container {
    background-color: #48cfae;
}

#second_series_container {
    background-color: #026770;
}

#second_series_container .series_description {
    color: #F0F0F0;
}

.more_articles_link {
    width: 65%;
    justify-self: center;
}

.more_articles {
    font-size: 350%;
    margin-top: 7%;
    margin-bottom: 7%;
    font-weight: 900;
    color: black;
    text-decoration: none;
    border-bottom: 4px solid transparent;
    width: fit-content;
}

.more_articles:hover {
    border-color: #48cfae;
    color: #48cfae;
    transition: border-color 1s, color 0.5s;
}

.more_articles_link:hover {
    text-decoration: none;
}

.policy{
  display: flex;
  text-align: left;
  margin-top: 40px;
}

.policy-cats{
  color: white !important;
  margin-right: 12px;
  font-size: 0.75em;
}

@media only screen and (max-width: 960px) {

  .header_nav_item {
      font-size: 4vw;
      margin-left: 15px;
      margin-right: 15px;
  }

  #header_logo {
      object-fit: contain;
      height: 50px;
      width: 50px;
  }

  #sidebar_container {
      display: none;
  }

  #saying_container {
      margin-bottom: 5%;
  }

  #first_post_title {
      font-size: 5vw;
      margin-bottom: 2px;
  }

  #index_body {
      width: 100%;
      justify-content: center;
  }

  #first_post_poster{
    margin-top: 10px;
  }

 #first_post_author_container{
   font-size: 4vw;
 }

 #first_author_name{
   font-size: 4vw;
 }

 #first_post_date{
   font-size: 4vw;
 }

  #first_post_tag {
      display: none;
  }

  .post_thumbnail {
      width: 100%;
      margin: 2%;
  }

  .post_tag {
    display: none;
  }

  .post_title{
    font-size: 5vw;
  }

  .post_by{
    font-size: 4vw;
  }

  .post_author{
    font-size: 4vw;
  }

  .post_date{
    font-size: 4vw;
  }

  .social_media_container img {
      height: 30px;
      width: auto;
      margin-right: 3px;
      margin-left: 3px;
  }

  .social{
      padding-right: 0 !important;
  }

  .more_articles{
    font-size: 4.2vw;
    margin-top: 5%;
  }

  .policy{
    display: flex;
    flex-direction: column;
  }

  .policy-cats{
    font-size: 11px;
  }

  #input_box{
    padding-right: 0;
  }

}
