body {
  background-color: white;
}

.container{
  display: flex;
  justify-content: center;
}

#cc_logo{
  height: auto;
  width: 100px;
  margin-top: 10px;
}

.navigation-container{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: justify;
  padding: 30px;
}

.nav li > a{
  color: black !important;
}

.nav-item{
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
  font-family: Exo;
}

/* 2 line break */
.heading_hr{
  width: 95%;
  border-top: 1px solid black;
}

/* introductory piece */
.cucumber_browser{
  width: 100%;
  height: 90%;
  padding-top: 15px;
}

.flexbox-1{
  background-color: rgba(107, 107, 107, 0.1);
  margin-left: 20px;
  padding-left: 15px;
}

.flexbox-2{
  margin-left: -1%;
  margin-right: 20px;
}

.intro_p1{
  font-size: 20px;
  font-family; Exo;
}

.intro_p2{
  font-size: 40px;
  font-family: Exo;
}

/* popular post header */
.popular_posts_div{
  margin-top: -1%;
}

#popular_posts{
  font-size: 70px;
  color: white;
  font-family: Ubuntu;
  background-color: black;
  width: fit-content;
  padding-left: 50px;
  padding-right: 50px;
}

#latest_posts {
    font-size: 70px;
    color: white;
    font-family: Ubuntu;
    background-color: black;
    width: fit-content;
    padding-left: 50px;
    padding-right: 50px;
}

/* cards section */
.card-title{
  font-family: Ubuntu;
}

.card-body{
  background-color: rgba(107, 107, 107, 0.1);
  border: none;
  display: none;
  transition: 0.3s;
}

.card:hover .card-body{
  display: block;
  animation: fadeIn linear 0.5s;
  -webkit-animation: fadeIn linear 0.5s;
  -moz-animation: fadeIn linear 0.5s;
  -o-animation: fadeIn linear 0.5s;
  -ms-animation: fadeIn linear 0.5s;
}

/* allow same animation on various browsers */
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
​
@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
​
@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
​
@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.card{
  border-radius: 0;
  transition: 0.3s;
}


/* more section */
.container-more{
  display: flex;
  justify-content: center;
}

.more{
  background-color: rgba(107, 107, 107, 0.1);
  font-family: Ubuntu;
  font-size: 30px;
  color: black !important;
  z-index: 1;
  padding: 2px;
  padding-left: 4px;
}

#arrow{
  content: "\27F6";
  background-color: white;
  font-family: Ubuntu;
  font-size: 30px;
  color: black;
  margin-left: -1%;
  z-index: 0;
}

/* footer section */
.footer_left{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  flex-direction:column;
  transition: 0.3s;
}

.promo_para{
  font-family: Ubuntu;
  color: white;
}

#promo_hr{
  border-top: 1px solid white;
}


.footer_left{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction:column;
}

#cc_logo_footer{
  width: auto;
  height: 150px;
}

#stay_para{
  color: white;
  display: inline;
  padding-left: 30px;
}

#connect_para{
  color: white;
  display: inline;
}

.form-control{
  width: 60%;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
}

.fa-google {
  color: white;
}

.fa-google:hover{
  color: rgb(107, 107, 107);
}

.fa-twitter {
  color: white;
}

.fa-twitter:hover{
  color: rgb(107, 107, 107);
}

.fa-instagram {
  color: white;
}

.fa-instagram:hover{
  color: rgb(107, 107, 107);
}

.fa-github {
  color: white;
}

.fa-github:hover{
  color: rgb(107, 107, 107);
}

/* to make website mobile friendly */
@media only screen and (max-width: 1024px) {

  .cucumber_browser{
    display: none;
  }

  .popular_posts_div{
    margin-top: 1%;
  }

  .navigation-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: justify;
    padding: 0px;
    padding-bottom: 30px;
  }

  .flexbox-1{
    background-color: rgba(107, 107, 107, 0.1);
    margin-left: 20px;
    padding-left: 15px;
    padding-bottom: 50px;
  }

}
