body {
  background-color: white;
}

/* for merchandise title */

.merchandise_header{
  /* margin-bottom: -2%; */
}

#header {
  font-size: 70px;
  color: white;
  font-family: Ubuntu;
  background-color: black;
  width: 40%;
  padding-left: 30px;
  padding-right: 25px;
}

.container-fluid{
  background-image: url('https://image.freepik.com/free-vector/cute-seamless-background-with-sketch-cucumbers_257845-410.jpg');
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin-top: -1%; */
}

.mask-custom {
  background-color: rgba(204, 230, 211, 1);
  width: 60%;
  height: 60%;
}

#cucumber_shades{
  max-height: 80%;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin: auto;
  z-index: 1;
}

#something_para{
  font-family: Ubuntu;
  font-size: 30px;
}

.hidden-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  padding: 5%;
  font-size: 17px;
}

.hr_in_merch {
  margin: auto;
  width: 40%;
}

.flex-box-1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: rgba(204, 230, 211, 1);
}

.flex-box-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 200%;
  font-family: Ubuntu;
  background-color: rgba(204, 230, 211, 1);
}

.flex-box-3{
  display: flex;
  justify-content: center;
  font-family: Ubuntu;
  background-color: rgba(204, 230, 211, 1);
}

@media only screen and (max-width: 1024px) {

  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #cc_logo{
    width: 60%;
    height: 40%;
    overflow: hidden;
  }

  .container-fluid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .mask-custom {
    background-color: rgba(204, 230, 211, 1);
    width: auto;
    height: auto;
  }

  .merchandise_header{
    width: auto;
  }

  #header{
    width: auto;
    font-size: 30px;
  }

  #cucumber_shades{
    height: 200px;
    width: 300px;
    margin: 0;
  }

  .flex-box-1{
    padding: 0;
    padding-top: 20px;
  }

  .hidden-text{
    display: none;
  }

  #something_para{
    font-size: 20px;
  }

}
